
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ ad.brand }} {{ ad.model }}{% endblock %}

{% block content %}
    <section>
        {% if ad.image_path %}
            <img src="{{ ad.image_path.url }}" alt="{{ ad.brand }} {{ ad.model }}" style="max-width: 100%; height: auto;">
        {% endif %}
        <h1>{{ ad.brand }} {{ ad.model }}</h1>
        <p><strong>Цена: {{ ad.price }} тг</strong></p>
        <p>Год: {{ ad.year }}</p>
        <p>Описание: {{ ad.description }}</p>
        <p>Продавец: {{ ad.user.full_name }} ({{ ad.user.phone_number }})</p>
        <p><a href="{% url 'cars' %}">Назад к списку</a></p>
    </section>
{% endblock %}